@model Book

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            Author
        </dt>
        <dd class="col-sm-10">
            @Model.Author
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @Model.Price
        </dd>
    </dl>
</div>
<a asp-action="Index"  class="btn btn-primary">Back to list</a>

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#orderModal">
    Замовити
</button>


<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Підтвердження замовлення</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ви дійсно хочете замовити книгу <strong>@Model.Name</strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                <form asp-action="OrderBook" method="post">
                    <input type="hidden" name="bookId" value="@Model.Id" />
                    <button type="submit" class="btn btn-success">Замовити</button>
                </form>
            </div>
        </div>
    </div>
</div>